# Default excludes

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# eclipse project file
.settings/
.classpath
.project

src/ua/lviv/lgs/srp/
src/ua/lviv/lgs/ocp/
src/ua/lviv/lgs/lsp/
src/ua/lviv/lgs/isp/
src/ua/lviv/lgs/dip/
